<section class="hero is-fullheight has-text-centered has-background-white-ter" id="music">
    <div class="hero-body">
        <div class="container is-flex is-flex-direction-column">
            <div class="columns is-centered mb-6 mt-6">
                <span class="title is-size-1 has-text-centered">NEW RELEASE OUT NOW!</span>
            </div>
            <div class="mt-5"></div>
            <div class="columns mt-5">
                <div class="column is-one-third-desktop is-half-tablet is-one-third-fullhd">
                    <figure class="image">
                        <img src="{{site.url}}{{site.baseurl}}{{site.albums.never_gave_up_on_me.img}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen mt-6">
                    <div class="container columns is-centered">
                        <span class="is-size-4">
                            <i>Never Gave Up On Me</i> is Kristen Faith’s first single, inspired by life events that took her down to her lowest place which led to her most impactful come back. Her Pastor, at the time, would constantly share the message “God is not mad at you, but MAD ABOUT YOU.” That message would echo in her mind as she navigated hurt, condemnation, and shame after yet another fail in her life. <i>Never Gave Up On Me</i> is her anthem to those years spent chasing acceptance and perfection. 
                        </span>
                    </div>
                </div>
            </div>
        </div>
</section>