<section class="hero is-fullheight has-text-centered has-background-white-ter" id="music">
    <div class="hero-body">
        <div class="container">
            <div class="columns mb-6">
                <span class="title is-size-1">NEW RELEASE OUT NOW!</span>
            </div>
            <div class="columns">
                <div class="column is-two-fifth-desktop is-two-fifth-tablet is-two-fifth-fullhd">
                    <figure class="image">
                        <img src="{{site.url}}{{site.baseurl}}{{site.albums.never_gave_up_on_me}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <div class="container columns is-centered">

                    </div>
                </div>
            </div>
        </div>
</section>